/* ======================
   Text
   =====================*/

   html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 350;
    font-size: 77px;
    color: white;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 43px;
    color: white;
}


h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 43px;
    color: #2e4159;
    margin-bottom: 0px;
}

h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #2e4159
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: strong;
    font-size: 32px;
    margin: 0px;
    color: #707070
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 275;
    font-size: 22px;
    margin: 0px;
    color: white
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #707070
}

/* a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding-right: 25px;
}

a:hover {
    color: #fe8888 !important;
} */

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #707070;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*===== Links =====*/
a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white !important;
    font-size: 24px;
    text-decoration: none;
    padding-right: 25px;
}

a:hover {
    color: #fe8888 !important;
}

/*===== Navigation=====*/

.bg-light {
    /* background: transparent !important; */
    background-image: url(../images/nav-bg-transparency.png);

}

.navbar-light .navbar-toggler-icon {
    background-image: url(../images/hamburger-menu.png);
}

.navbar-brand img {
    width: 200px;
}

.navbar {
    background-image: url(../images/nav-bg-transparency.png);
}


.navbar-nav {
    padding-left: 65%;
}


/*buttons*/

.button {
    background-color: #2e4159;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 100px;
    /*Adjust this to change distance between button and list above*/
    padding: 8px 24px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    /* Rounded Corners*/
    transition-duration: 0.3s;
}

.button:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24);
    background-color: #fe8888;
    color: white !important;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2e4159;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background-color: #fe8888;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24);
    color: white !important;
}




/* ======================
   Hero Section Grid
   =====================*/


.heroGrid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18px;
    height: 680px;
    padding-left: 62px;
    padding-right: 62px;
    background-color: #2e4159;
}

.heroStatement {
    grid-area: heroStatement;
    grid-column-start: 2;
    margin-right: 64px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.headshot {
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

/* ======================
   About Me
   =====================*/

   #aboutMe {
    padding: 35px 5% 35px 5%;
}

#bioContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 62px;
}

#skills {
    padding-bottom: 16px;
}


/* ======================
   My Work
   =====================*/

#myWork {
    padding: 35px 5% 35px 5%;
}

.myWorkContainer {
    display: flex;
}

.myWorkHeader {
    margin-bottom: 36px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18px;
    padding-left: 62px;
    padding-right: 62px;
}

.projectImage {
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#mobile {
    padding-bottom: 25px;
}

#footer {
    text-align: center;
}

.projectTitle {
    margin-top: auto;
    margin-bottom: auto;
}

.projectTitle a {
    color: #2e4159 !important;
    padding-right: 0;
}

.projectTitle a:hover {
    color: #fe8888 !important;
}

/*==== PAGE FOOTER ====*/
/* ======================
   Footer
   =====================*/
   footer {
    padding: 35px 5% 35px;
    background-color: #2e4159;
}

footer p {
    color: white;
}

footer h5 {
    color: white;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 62px;
    background-color: #2e4159;
    color: white;
}

.caseStudies {
    flex-grow: 2;
    background-color: #2e4159;
    color: white;
}



/* MEDIA QUERY */

@media only screen and (max-width: 700px) {

    .heroGrid {
        display: block;
        height: auto;
        padding: 32px 32px;
        margin-left: auto;
        margin-right: auto;
    }

    #heroStatement {
        padding-bottom: 36px;
    }

    .headshot {
        margin-left: auto;
        margin-right: auto;
    }

    #aboutMe {
        margin-left: 36px;
        padding: 18px;
    }

    #bioContainer {
        display: flex;
    flex-direction: column;
    gap: 16px;
    }

    #bio {
        padding-right: 18px;
    }

    #myWork {
        padding: 5%;
    }
    #myWorkContainer {
        display: block;
    }

    .myWorkHeader {
        padding-bottom: 0;
        margin-left: 18px;
    }

    .project {
        display: block;
        padding-left: 18px;
        padding-right: 18px;
    }

    .projectImage {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 300px;
    }

    .projectImage img {
        max-width: 300px;
        margin-top: 18px;
        margin-left: auto;
        margin-right: auto;

    }

    .footerContainer {
        display: block;
    }

    #socialIcons{
        padding-top: 25px;
    }
.footerContainer {
    margin: 0;
}


}